* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main {
  width: 100%;
  padding: 20px;
}
.Text {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 1000;
  font-size: 25px;
  line-height: 7px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #2958ae;
}
.ageText {
  position: absolute;
  left: 320px;
  top: 260px;
}
.cityText {
  position: absolute;
  left: 870px;
  top: 260px;
}
.zipCodeText {
  position: absolute;
  left: 1420px;
  top: 260px;
}
.populationText {
  position: absolute;
  left: 320px;
  top: 470px;
}
.longitudeText {
  position: absolute;
  left: 870px;
  top: 470px;
}
.latitudeText {
  position: absolute;
  left: 1420px;
  top: 470px;
}
.streamingMusicText {
  position: absolute;
  left: 320px;
  top: 260px;
}
.dependentsText {
  position: absolute;
  left: 870px;
  top: 260px;
}
.noOfDependentsText {
  position: absolute;
  left: 1420px;
  top: 260px;
}
.cltvText {
  position: absolute;
  left: 320px;
  top: 470px;
}
.contractText {
  position: absolute;
  left: 870px;
  top: 470px;
}
.paperlessBillingText {
  position: absolute;
  left: 1420px;
  top: 470px;
}
.internetTypeText {
  position: absolute;
  left: 320px;
  top: 260px;
}
.paymentMethodText {
  position: absolute;
  left: 870px;
  top: 260px;
}
.monthlyChargesText {
  position: absolute;
  left: 1420px;
  top: 260px;
}
.charges1Text {
  position: absolute;
  left: 320px;
  top: 470px;
}
.charges2Text {
  position: absolute;
  left: 870px;
  top: 470px;
}
.charges3Text {
  position: absolute;
  left: 1420px;
  top: 470px;
}
.referredAFriendText {
  position: absolute;
  left: 320px;
  top: 260px;
}
.noOfReferralText {
  position: absolute;
  left: 870px;
  top: 260px;
}
.tenureInMonthsText {
  position: absolute;
  left: 1420px;
  top: 260px;
}
.charge4Text {
  position: absolute;
  left: 580px;
  top: 470px;
}
.charge5Text {
  position: absolute;
  left: 1170px;
  top: 470px;
}
.AgeTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 300px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.CityTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 850px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.zipCodeTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 1400px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.populationTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 300px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.longitudeTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 850px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.latitudeTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 1400px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.streamingMusicTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 300px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.dependentsTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 850px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.noOfDependentsTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 1400px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.cltvTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 300px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.contractTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 850px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.paperlessBillingTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 1400px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.internetTypeTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 300px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.paymentMethodTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 850px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.monthlyChargesTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 1400px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.charges1Textbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 300px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.charges2Textbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 850px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.charges3Textbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 1400px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.referredAFriendTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 300px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.noOfReferralTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 850px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.tenureInMonthsTextbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 1400px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.charge4Textbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 600px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.charge5Textbox {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 1150px;
  top: 510px;
  background: #ffffff;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Poppins';
  font-weight: 1000;
  font-size: 20px;
  color: #565151;
  padding-left: 30px;
}
.submitbutton {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 920px;
  top: 700px;
  background: #2958ae;
  border-color: #2958ae;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  justify-content: center;
}
.resultBox {
  position: absolute;
  width: 947px;
  height: 350px;
  left: 580px;
  top: 340px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.resultIDtag {
  position: absolute;
  width: 480px;
  height: 96px;
  left: 60px;
  top: 150px;
  background: #8845e4;
  border-radius: 80px;
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
}
.resultStatustag {
  position: absolute;
  width: 241px;
  height: 96px;
  left: 650px;
  top: 150px;
  background: #ff0091;
  border-radius: 80px;
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}
.promptText1 {
  position: absolute;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 7px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #26272a;
  top: 60px;
  left: 120px;
  text-align: center;
}
.tick {
  position: absolute;
  top: 40px;
  left: 730px;
  width: 50px;
  height: 50px;
}
.addbutton {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 780px;
  top: 750px;
  background: #2958ae;
  border-color: #2958ae;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  justify-content: center;
}
